@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-bg{
    background-color: rgb(80, 147, 125);
}
.primary-text{
    color: rgb(255, 255, 255);
}
.secondary-text{
    color: rgb(80, 147, 125);
}