@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-bg{
    background-color: rgb(82, 163, 136);
}
.primary-text{
    color: rgb(255, 255, 255);
}
.secondary-text{
    color: rgb(82, 163, 136);
}